<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="bg-zinc-900 text-white p-10">
    <a class="text-blue-500" href="/">To Home</a>
    <h1 class="text-2xl p-5">All Users</h1>
    <div class="flex flex-row gap-2">
        <% if(users.length> 0){ %>
            <% users.forEach(user=> { %>
                <div class="w-44 bg-zinc-700 h-auto p-2 rounded-xl">
                    <div class="w-40 h-40  rounded-xl ">
                        <img src="<%=user.image%>" class="object-cover w-full h-full rounded-xl" alt="">
                    </div>
                    <p>Name: <%= user.name %>
                    </p>
                    <p>Email: <%=user.email%>
                    </p>
                    <div class="pt-5 flex justify-around">
                        <a href="/update/<%= user._id%>">Update</a>
                        <a href="/delete/<%= user._id%>">Dlt</a>
                    </div>
                </div>
                <% }); %>
                    <% } else{ %>
                        <h3>No User Here</h3>
                        <% } %>
    </div>
</body>

</html>